<div class="new-container mt-5">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, value: "Update" %>
  <% end %>
</div>
