<div class="show-container">
  <div class="cocktail-show-left">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 600, width: 600, crop: :fill %>
    <% end %>
  </div>
  <div class="cocktail-show-right">
    <div class="cocktail-name mb-4">
      <h1><%= @cocktail.name %></h1>
      <h1>
        <%= link_to edit_cocktail_path do %>
          <i class="far fa-edit"></i>
        <% end %>
      </h1>
    </div>
    <% if @cocktail.description.empty? == false %>
      <h3>Description</h3>
      <p><%= @cocktail.description %></p>
    <% end %>
    <h3 class="mt-4">Ingredients</h3>
      <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.ingredient.name.capitalize %> - <%= dose.description %>  <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </p>
      <% end %>
    <p><%= link_to "Add new", new_cocktail_dose_path(@cocktail), class: "new-btn" %></p>
  </div>

</div>

